{
  "openapi": "3.1.0",
  "info": {
    "title": "Expectbox Agents Project API",
    "version": "0.1.0",
    "description": "Project management API. Per-inbox operations require separate exa_ credentials; see SDK types and https://www.expectbox.com/agent-sdk/README.md."
  },
  "servers": [
    {
      "url": "https://www.expectbox.com/api/agents/v1"
    }
  ],
  "paths": {
    "/project": {
      "get": {
        "operationId": "getProject",
        "description": "Requires project:read, active Agents access and an enabled mail service.",
        "security": [
          {
            "projectKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "limits": {
                      "type": "object",
                      "properties": {
                        "inboxes": {
                          "type": "integer"
                        },
                        "monthly": {
                          "type": "integer"
                        },
                        "daily": {
                          "type": "integer"
                        },
                        "bytes": {
                          "type": "integer"
                        }
                      },
                      "required": ["inboxes", "monthly", "daily", "bytes"],
                      "additionalProperties": false
                    },
                    "usage": {
                      "type": "object",
                      "properties": {
                        "incoming": {
                          "type": "integer"
                        },
                        "outgoing": {
                          "type": "integer"
                        }
                      },
                      "required": ["incoming", "outgoing"],
                      "additionalProperties": false
                    }
                  },
                  "required": ["id", "limits", "usage"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Invalid or expired credential"
          },
          "403": {
            "description": "Permission or subscription denied"
          },
          "409": {
            "description": "Quota or idempotency conflict"
          },
          "429": {
            "description": "Rate limit reached"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/project/inboxes": {
      "get": {
        "operationId": "listProjectInboxes",
        "description": "Requires project:read, active Agents access and an enabled mail service.",
        "security": [
          {
            "projectKey": []
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "inboxes": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": {
                            "type": "string",
                            "format": "uuid"
                          },
                          "email": {
                            "type": "string",
                            "format": "email"
                          },
                          "name": {
                            "type": "string"
                          },
                          "mode": {
                            "type": "string"
                          },
                          "paused": {
                            "type": "boolean"
                          },
                          "retired_at": {
                            "type": ["string", "null"],
                            "format": "date-time"
                          },
                          "created_at": {
                            "type": "string",
                            "format": "date-time"
                          }
                        },
                        "required": [
                          "id",
                          "email",
                          "name",
                          "mode",
                          "paused",
                          "retired_at",
                          "created_at"
                        ],
                        "additionalProperties": false
                      }
                    }
                  },
                  "required": ["inboxes"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Invalid or expired credential"
          },
          "403": {
            "description": "Permission or subscription denied"
          },
          "409": {
            "description": "Quota or idempotency conflict"
          },
          "429": {
            "description": "Rate limit reached"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      },
      "post": {
        "operationId": "createInbox",
        "description": "Requires inboxes:write, active Agents access and an enabled mail service.",
        "security": [
          {
            "projectKey": []
          }
        ],
        "parameters": [
          {
            "name": "Idempotency-Key",
            "in": "header",
            "required": true,
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 128,
              "pattern": "^[a-zA-Z0-9._~-]+$"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateInbox"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Inbox"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Invalid or expired credential"
          },
          "403": {
            "description": "Permission or subscription denied"
          },
          "409": {
            "description": "Quota or idempotency conflict"
          },
          "429": {
            "description": "Rate limit reached"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/project/inboxes/{inboxId}/keys": {
      "post": {
        "operationId": "createInboxKey",
        "description": "Requires keys:write, active Agents access and an enabled mail service.",
        "security": [
          {
            "projectKey": []
          }
        ],
        "parameters": [
          {
            "name": "inboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InboxKeyInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Credential"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Invalid or expired credential"
          },
          "403": {
            "description": "Permission or subscription denied"
          },
          "409": {
            "description": "Quota or idempotency conflict"
          },
          "429": {
            "description": "Rate limit reached"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    },
    "/project/inboxes/{inboxId}/keys/{keyId}": {
      "delete": {
        "operationId": "revokeInboxKey",
        "description": "Requires keys:write, active Agents access and an enabled mail service.",
        "security": [
          {
            "projectKey": []
          }
        ],
        "parameters": [
          {
            "name": "inboxId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "keyId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "const": true
                    }
                  },
                  "required": ["ok"],
                  "additionalProperties": false
                }
              }
            }
          },
          "400": {
            "description": "Invalid input"
          },
          "401": {
            "description": "Invalid or expired credential"
          },
          "403": {
            "description": "Permission or subscription denied"
          },
          "409": {
            "description": "Quota or idempotency conflict"
          },
          "429": {
            "description": "Rate limit reached"
          },
          "503": {
            "description": "Service unavailable"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "projectKey": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "exp_ project key"
      }
    },
    "schemas": {
      "Inbox": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "name": {
            "type": "string"
          }
        },
        "required": ["id", "email", "name"],
        "additionalProperties": false
      },
      "CreateInbox": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "username": {
            "type": "string",
            "pattern": "^[a-z][a-z0-9-]{1,31}$"
          },
          "mode": {
            "type": "string",
            "enum": ["read", "drafts", "send"],
            "default": "read"
          },
          "sendAllow": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100,
            "default": []
          },
          "senderManagementMode": {
            "type": "string",
            "enum": ["none", "restricted", "any"],
            "default": "none"
          },
          "senderManagementAllow": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100,
            "default": []
          }
        },
        "required": ["name", "username"],
        "additionalProperties": false
      },
      "InboxKeyInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 100
          },
          "scopes": {
            "type": "array",
            "minItems": 1,
            "maxItems": 6,
            "items": {
              "type": "string",
              "enum": [
                "messages:read",
                "attachments:read",
                "drafts:write",
                "messages:send",
                "events:read",
                "senders:write"
              ]
            }
          },
          "days": {
            "type": "integer",
            "minimum": 1,
            "maximum": 365,
            "default": 90
          }
        },
        "required": ["name", "scopes"],
        "additionalProperties": false
      },
      "Credential": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "format": "uuid"
          },
          "key": {
            "type": "string",
            "pattern": "^exa_[a-zA-Z0-9_-]{43}$"
          }
        },
        "required": ["id", "key"],
        "additionalProperties": false
      }
    }
  }
}
